
/* Game style */

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.2rem solid #001a4d;
    border-radius: 10px;
    background-color: rgb(216, 247, 250);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0.04rem 0.4rem 0 #476e6d;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgb(143, 241, 241);
    font-weight: 600;
}

.choice-text {
    padding: 1.5rem;
}

.correct {
    background-color: rgba(0, 255, 85, 0.932);
}

.incorrect {
    background-color: rgb(255, 51, 0);
}

/* Heads up display (hud) */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}
.hud-main-text {
    text-align: center;
}


#progressBar {
    width: 25rem;
    height: 4rem;
    border:0.3rem solid #001a4d;
    border-radius: 50px;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #001a4d;
    border-radius: 50px;
    width: 0%;

}






