@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Lobster+Two&family=Nova+Square&family=Oswald:wght@200&display=swap');

:root {
    background: linear-gradient(-45deg, #f8e1f4, #ddbddd, #d6e7e7, #b7e7e7);
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Lobster two', sans-serif;
    margin: 0;
    padding: 0;
    color: #001a4d;
    letter-spacing: 1.5px;
    text-decoration: none;
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 5rem;
    letter-spacing: 2px;
}

h1>span {
    font-size: 4.2rem;
    font-weight: 500;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
    
}

h3 {
    font-size: 2.8rem;
    font-weight: 600;
}

/* Image style */
.row {
    width: 55%;
    margin: 25%;
    margin-top: 0;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}

.column {
    flex-basis: 50%;
    padding: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
}

.column h2 {
    text-align: left;
    font-size: 3rem;
}

img {
    border-radius: 10px;
}

img:hover {
    cursor: pointer;
    box-shadow: 0.04rem 0.55rem 0 rgba(32, 92, 84, 0.55);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
    
/* Formatting container and column */

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0.5rem;
}

.container>* {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Styling collapsible */

.collapsible {
    background-color: rgb(177, 237, 241);
    color: #001a4d;
    cursor: pointer;
    padding: 11px;
    width: 80%;
    margin:auto;
    border: 0.4rem solid #001a4d;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 50px;
  }

  .active, .collapsible:hover {
    background-color: rgb(223, 146, 238);
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #cdf3f1;
    width: 70%;
    margin:auto;
    border: 0.1rem solid #001a4d;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode for (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    
  }
  
  .active:after {
    content: "\2796"; /* Unicode for (-) */
  }

/* Styling buttons */

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.2rem solid #001a4d;
    margin-bottom: 1rem;
    background-color: rgb(206, 243, 250);
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0.04rem 0.55rem 0 rgba(32, 92, 84, 0.6);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transition: none;
}

/* Form stylng on end page */

form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


input {
    margin-bottom: 1rem;
    width: 30rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: 0.2rem solid #001a4d;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;

}

label {
    font-size: 1.8rem;
    color: #001a4d;
    font-weight: 600;
}

#feedback {
    width:65rem;
    height: 30rem;
    border: 0.2rem solid #001a4d;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

form > p {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    color: #001a4d;
    font-weight: 600;
}

#submit {
    margin-top: 1rem;
}


/* footer */
footer {
    height: 10rem;

}

.social-networks {
    width: 60%;
    font-size: 3.5rem;
    display: inline-flex;
    margin: auto;
    color: #001a4d;
    list-style-type: none;
    align-items: center;
    max-width: 80rem;
    padding-top: 5rem;
    justify-content: space-evenly;
    
}


.social-networks a {
    text-decoration: none;
    text-align: center;


}

@media (max-width:700px) {
    .row {
        flex-direction: column;
    }
    #feedback {
        width:30rem;
        height: 25rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    form > p {
        font-size: 1.2rem;
        text-align: center;
        padding: 0 0.6rem 0 0.6rem;
    }
}
 